<h1>Patient Forms</h1>

<h3>Admissions</h3>
<%= link_to "Treatment Authorization Form", asset_path("cbh_admit_auth.pdf") %>
<h3>Ancillary</h3>
<%= link_to 'Community Health Fair Form', asset_path("cbh_community_health_fair_form.pdf")  %><br>
<%= link_to 'Pre-Op Anesthesia Questionnaire', asset_path("cbh_srg_anes_qu.pdf")  %>
<h3>Financial</h3>
<%= link_to 'Self Pay Brochure', asset_path("cbh_self_pay_brochure.pdf")  %><br>
<%= link_to 'Financial Assistance Policy', asset_path("cbh_financial_assistance_policy.pdf")  %><br>
<%= link_to 'Financial Assistance Application', asset_path("cbh_financial_assistance_application.pdf") %> <br><br>