<!-- Static navbar -->
<div class="cbh-footer">
<div class="container">
<p style="color:#fff;margin-bottom:-15px; margin-top:10px">
	<span class="left" style="margin-left:120px; margin-right:50px">
		Clara Barton Hospital: <strong>(620) 653-2114</strong>
	</span>
	<span class="mid" style="margin-right:50px">
		Clara Barton Medical Clinic: <strong>(620) 653-2386 </strong>
	</span>
	<span class="right">
		Clara Barton Outreach Clinic:  <strong>(620) 653-4191 </strong>
	</span>
	</p>
</div>
<div class="navbar navbar-default navbar-static-top"  role="navigation" style="z-index:0;top:25px">
  <div class="container" >	
    <div class="navbar-collapse collapse" style="width:730px; margin-left: auto; margin-right:auto">
      <ul class="nav navbot navbar-nav" >
	    <li><%= link_to 'About Us', connect_about_us_path %></li>
		<li class="navbar-brand"> | </li>
		<li><%= link_to 'Contact', contacts_path %></li>
		<li class="navbar-brand"> | </li>
		<li><%= link_to 'Health Information', root_path %></li>
		<li class="navbar-brand"> | </li>
		<li><%= link_to 'Pay Bills', patients_onlinepay_path %></li>
		<li class="navbar-brand"> | </li>
		<li><%= link_to 'Privacy Policy', root_path %></li>
		<li class="navbar-brand"> | </li>
		<li><%= link_to 'Terms of Use', root_path%></li>
	 </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
  </div>
</div>
</div>